.header {
  background-color: white;
  height: 80px;
  padding: 0 50px;
  margin-bottom: 31px;
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
