<form [formGroup]="form" novalidate (ngSubmit)="submit()" class="form">
  <h2 class="title">Registration</h2>
  <div class="field">
    <label>Name</label>
    <input class="input" name="name" formControlName="name" />

    <div class="error"
         *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      Name must be no less 6
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <input class="input" name="email" formControlName="email" />

    <div class="error"
         *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      Name must be no less 10
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <input class="input" name="password" formControlName="password" appPasswordVisibility />

    <div class="error"
         *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
      Password is required!
    </div>
  </div>
    <button [disabled]="form.invalid" class="button" style="background: var(--primary-color)">
      Registration
    </button>
  <p>
    If you have an account you can <br>
    Login
  </p>
</form>
