<form (ngSubmit)="submit()" [formGroup]="form" class="form" novalidate>
  <div>
    <h2 class="title">Registration</h2>
    <div class="field">
      <label>Name</label>
      <input class="input" formControlName="name" name="name"/>

      <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched"
           class="error">
        {{form.controls['name'].errors?.['required']
        ? "Email is required"
        : "Email must be no less 6"}}
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <input class="input" formControlName="email" name="email" type="text"/>
      <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
           class="error">
        {{form.controls['email'].errors?.['required']
        ? "Email is required"
        : form.controls['email'].errors?.['forbiddenPattern']
          ? "It's not email"
          : "Email must be no less 10"
        }}
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <input appPasswordVisibility class="input" formControlName="password" name="password"/>

      <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched"
           class="error">
        {{form.controls['password'].errors?.['required']
        ? "Password is required!"
        : "Password must be no less 6"
        }}
      </div>
    </div>
    <button [disabled]="form.invalid" class="button" style="background: var(--primary-color)">
      Registration
    </button>
    <p>
      If you have an account you can <br>
      <a class="link-auth" routerLink="/login">Login</a>
    </p>
  </div>
  <div class="error-message">
    <p>{{error}}</p>
  </div>
  <div *ngIf="isRegistrated" class="bears">
    <img alt="bears" src="assets/images/bears.gif">
    <p>You are registered</p>
  </div>
</form>
