/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ead2b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

body {
  background-color: var(--primary-color);
}
